<%-include("header")%>
<div id="info-1">
    <div id="sub-info-1-container">
        <h2>Languages/Packages</h2> 
        <p>
            People often want to learn how to develop a game, website, app or whatever it is that they want to develop, but almost nothing can be made with just 1 languages. Thus people learn many languages at one time often refered to as "Packages". Below this are listen some common packagaes and the use of each. Further below that we have brief summaries of each language we teach at Sigma Coders. Many people also wonder where they should start programming, well the answer depends on what you want, if you have no clue simply just contact us for guidence with the button below.
        </p>
        <a href="/contact">Contact ›</a> 
    </div>
</div>


<div id="info-5">
    <div id="sub-info-5-container">
        
        <div class="card" id="webdev-package">
            <h2>Web Dev (Package)</h2>
            <img class="image" src="https://i.ibb.co/cYjyHby/Screen-Shot-2021-07-12-at-5-25-40-PM.png" alt="site4u.ca">
            <div class="text">
                <p>Website Development can be broken down into 2 parts, Frontend and Backend. At Sigma Coders we teach all the languages you will need in the real world to make a modern and fast website. The Web Dev Package teaches the following languages and skills that are shown. <strong>If you complete the following package, you will revieve a volunteering opertunity at <a href="https://www.site4u.ca">Site 4 u</a> guaranteed.</strong> Also note that the frontend and backend are considered to seprate packages. </p>
                <ul>
                    <li><a href="#c#-lang">HTML</a></li>
                    <li><a href="#html-lang">CSS</a></li>
                    <li><a href="#html-lang">SCSS/SASS</a></li>
                    <li><a href="#nodejs-lang">Scratch</a></li>
                    <li><a href="#scratch-lang">Command Line</a></li>
                    <li><a href="#css-lang">Javascript</a></li>
                    <li><a href="#sql-lang">NodeJS</a></li>
                    <li><a href="#sql-lang">ExpressJS</a></li>
                    <li><a href="#python-lang">Python (Flask)</a></li>
                    <li><a href="#javascript-lang">MongoDB</a></li>
                    <li><a href="#javascript-lang">Mongoose</a></li>
                    <li><a href="#mongodb-lang">SQL</a></li>
                    <li><a href="#logic-lang">Design</a></li>
                    <li>Common integration of APIs</li>
                    <li>UX experience</li>
                </ul>
            </div>
        </div>
        <div class="card" id="gamedev-package">
            <h2>Game Dev (Package)</h2>
            <img class="image" src="https://th.bing.com/th/id/OIP.r_ECwVXpvSoVPTP_uW0XEAHaD4?pid=ImgDet&rs=1" alt="unity.com">
            <div class="text">
                <p>Game Development can be broken down into many components, but the main ones are the logic and design. Sigma Coders will teach you everything that you need to know on how to make mobile games, desktop games, console games and styles that can resemble AAA games. We will provide you real world experience to make a catchy game. The Game Dev Package teaches the following languages and skills that are shown on the right. Note that Sigma Coders will ensure that you go extremely indepth into C# with Unity.</p>
                <ul>
                    <li><a href="#flutter-lang">C#</a></li>
                    <li><a href="#flutter-lang">Unity</a></li>
                    <li><a href="#cmdline-lang">Logic 1</a></li>
                    <li><a href="#nodejs-lang">Scratch</a></li>
                    <li><a href="#cmdline-lang">Logic 2</a></li>
                    <li><a href="#logic-lang">Design</a></li>
                </ul>
            </div>
        </div>

        <div class="card" id="compeng-package">
            <h2>Computer Engineer (Package)</h2>
            <img class="image" src="https://i.ytimg.com/vi/wDgjdXtrnzM/maxresdefault.jpg" alt="arduino">
            <div class="text">
                <p>In this package you will start working with Arduinos and develop the understanding of the connections between hardware and software. You will learn how to learn new Arduino components. You will also start discovering Logic Gates, Networking, Number System (Binary Conversions), and Computer Hardware.</p>
                <ul>
                    <li><a href="#java-lang">C++</a></li>
                    <li><a href="#java-lang">Arduino</a></li>
                    <li><a href="#design-lang">Theory 1</a></li>
                    <li><a href="#design-lang">Theory 2</a></li>
                    <li><a href="#hack-lang">Circuit Design</a></li>
                </ul>
            </div>
        </div>

        <div class="card" id="appdev-package">
            <h2>App Dev (Package)</h2>
            <img class="image" src="https://tech.pelmorex.com/wp-content/uploads/2020/10/flutter.png" alt="flutter.com">
            <div class="text">
                <p>In this package you will first discover how to make applications for desktops via Java. We will be using Swing and Java to create many projects including a POS system. After that you will learn how to make an applicaiton for android and apple devices via Flutter.</p>
                <ul>
                    <li><a href="#python-lang">Java</a></li>
                    <li><a href="#python-lang">Swing</a></li>
                    <li><a href="#c++-lang">Flutter</a></li>
                    <li><a href="#scratch-lang">Command Line</a></li>
                    <li><a href="#nodejs-lang">Scratch</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="info-3">
    <div id="sub-info-3-container">
        
        <div class="card" id="python-lang">
            <img class="limage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" alt="python">
            <div class="ltext">
                <h2>Python (Language)</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione ducimus pariatur odit a maiores exercitationem quis recusandae veniam libero omnis incidunt facilis magnam quae adipisci, maxime modi dolor dolore labore.</p>
                <a class="special-button-info-3" target=”_blank” href="https://www.python.org/">Python Site</a>
            </div>
        </div>

        <div class="card" id="java-lang">
            <div class="rtext">
                <h2>Java (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illum dicta perspiciatis doloribus officia porro deserunt, et officiis placeat sunt pariatur. Commodi voluptatum in at eum, omnis sint eligendi aliquid.</p>
                <a class="special-button-info-3" target=”_blank” href="https://go.java/">Java Site</a>
            </div>
            <img class="rimage" src="https://download.logo.wine/logo/Java_(programming_language)/Java_(programming_language)-Logo.wine.png" alt="java">
        </div>

        <div class="card" id="c++-lang">
            <img class="rimage" src="https://webforpc.com/wp-content/uploads/2018/03/c-plus-plus-program-logo-image.png" alt="c++">
            <div class="rtext">
                <h2>C++ (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illum dicta perspiciatis doloribus officia porro deserunt, et officiis placeat sunt pariatur. Commodi voluptatum in at eum, omnis sint eligendi aliquid.</p>
                <a class="special-button-info-3" target=”_blank” href="https://www.arduino.cc/">Arduino(C++) Site</a>
            </div>
        </div>

        <div class="card" id="flutter-lang">
            <div class="rtext">
                <h2>Flutter (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illum dicta perspiciatis doloribus officia porro deserunt, et officiis placeat sunt pariatur. Commodi voluptatum in at eum, omnis sint eligendi aliquid.</p>
                <a class="special-button-info-3" target=”_blank” href="https://flutter.dev/">Flutter Site</a>
            </div>
            <img class="rimage" src="https://www.theflutterdoctor.com/images/avatar.png" alt="flutter logo">
        </div>

        <div class="card" id="c#-lang">
            <img class="limage" src="https://th.bing.com/th/id/R.9c75ca2b0c277584e827c20c0a9ac4eb?rik=lYTtL6%2btrEmlAA&riu=http%3a%2f%2fwww.techbaz.org%2fCourse%2fimg%2fcsharp-logo.png&ehk=f75Aju9yyaageZkEKASfChc%2bjfdt95nig1iFn3g7mpw%3d&risl=&pid=ImgRaw" alt="c# logo">
            <div class="ltext">
                <h2>C# (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
                <a class="special-button-info-3" target=”_blank” href="https://dotnet.microsoft.com/languages/csharp">C# Site</a>
            </div>
        </div> 

        <div class="card" id="html-lang">
            <div class="ltext">
                <h2>HTML (Language)</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione ducimus pariatur odit a maiores exercitationem quis recusandae veniam libero omnis incidunt facilis magnam quae adipisci, maxime modi dolor dolore labore.</p>
            </div>
            <img class="rimage" src="https://logos-download.com/wp-content/uploads/2017/07/HTML5_badge.png" alt="html image">
        </div>

        <div class="card" id="css-lang">
            <img class="limage" src="https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful-1/2048/5351_-_CSS3-512.png" alt="teen coding image">
            <div class="rtext">
                <h2>CSS/SASS/SCSS (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illum dicta perspiciatis doloribus officia porro deserunt, et officiis placeat sunt pariatur. Commodi voluptatum in at eum, omnis sint eligendi aliquid.</p>
                <a class="special-button-info-3" target=”_blank” href="https://sass-lang.com/documentation/syntax">CSS/SCSS/SASS Site</a>
            </div>
        </div>

        <div class="card" id="javascript-lang">
            <div class="ltext">
                <h2>Javascript</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
                <a class="special-button-info-3" target=”_blank” href="https://www.javascript.com/">Javascript Site</a>
            </div>
            <img class="rimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png" alt="Javascript">
        </div>

         <div class="card" id="mongodb-lang">
            <img class="limage" src="https://brev.dev/static/mongo-ef76cdb954fad3eb6e081a2d18144249.png" alt="mongodb logo">
            <div class="ltext">
                <h2>MongoDB (Language)</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione ducimus pariatur odit a maiores exercitationem quis recusandae veniam libero omnis incidunt facilis magnam quae adipisci, maxime modi dolor dolore labore.</p>
                <a class="special-button-info-3" target=”_blank” href="https://www.mongodb.com/">MongoDB Site</a>
            </div>
        </div>

        <div class="card" id="sql-lang">
            <div class="rtext">
                <h2>SQL (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illum dicta perspiciatis doloribus officia porro deserunt, et officiis placeat sunt pariatur. Commodi voluptatum in at eum, omnis sint eligendi aliquid.</p>
                <a class="special-button-info-3" target=”_blank” href="https://www.mysql.com/">SQL Site</a>
            </div>
            <img class="rimage" src="https://th.bing.com/th/id/R.255b77e251b19a6d0600634d2ff9b006?rik=LFgM2txNiFwy7A&riu=http%3a%2f%2fsqlbackupandftp.com%2fblog%2fwp-content%2fuploads%2f2015%2f01%2fmysql-logo_2800x2800_pixels1.png&ehk=nBPoTAB5G8HRtK%2f7O9e7uMMM%2fchy1XZ01UocW71SS48%3d&risl=&pid=ImgRaw" alt="sql logo">
        </div>

        <div class="card" id="nodejs-lang">
            <img class="limage" src="https://th.bing.com/th/id/OIP.lzF1MbUAXN7KsWoFVlOLUQAAAA?pid=ImgDet&rs=1" alt="nodejs logo">
            <div class="ltext">
                <h2>NodeJS/ExpressJS/Flask (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
                <a class="special-button-info-3" target=”_blank” href="https://nodejs.org/en/">NodeJS Site</a>
                <a class="special-button-info-3" target=”_blank” href="http://expressjs.com/">ExpressJS Site</a>
                <a class="special-button-info-3" target=”_blank” href="https://flask.palletsprojects.com/">Flask Site</a>
            </div>
        </div>

        <div class="card" id="scratch-lang">
            <div class="ltext">
                <h2>Scratch (Language)</h2>
                <p>Scratch is the best place to start programming, with Scratch you can build the fundemental thinking process of a programmer without writing any code instead just dragging around some blocks.</p>
                <a class="special-button-info-3" target=”_blank” href="https://scratch.mit.edu/">Scratch Site</a>
            </div>
            <img class="rimage" src="https://vignette.wikia.nocookie.net/scratchprog/images/e/ea/Unnamed.jpg/revision/latest?cb=20180212143050" alt="scratch logo">
        </div>

        <div class="card" id="cmdline-lang">
            <img class="limage" src="https://cdn0.iconfinder.com/data/icons/cosmo-multimedia/40/terminal-512.png" alt="cmdline logo">
            <div class="rtext">
                <h2>Command Line (Language)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
            </div>
        </div>





        <div class="card" id="logic-lang">
            <div class="ltext">
                <h2>Logic 1/Logic 2 (Special Skill Offered by Sigma Coders Only)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
            </div>
            <img class="nimage" src="https://i.ibb.co/BLdnMk9/l1.png" alt="cmdline logo">
        </div>

        <div class="card" id="design-lang">
            <img class="nimage" src="https://i.ibb.co/7jMnWht/d.png" alt="cmdline logo">
            <div class="rtext">
                <h2>Design (Special Skill Offered by Sigma Coders Only)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
            </div>
        </div>

        <div class="card" id="theory-lang">
            <div class="ltext">
                <h2>Theory 1/Theory 2 (Special Skill Offered by Sigma Coders Only)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
            </div>
            <img class="nimage" src="https://i.ibb.co/BVmvJCM/t1.png" alt="theory logo">
        </div>

        <div class="card" id="hack-lang">
            <img class="nimage" src="https://i.ibb.co/hyryTnb/h.png" alt="hackathon logo">
            <div class="ltext">
                <h2>Hackathon (Special Skill Offered by Sigma Coders Only)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
            </div>
        </div>

        <div class="card" id="circuit-lang">
            <div class="ltext">
                <h2>Circuit (Special Skill Offered by Sigma Coders Only)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatem praesentium quaerat laudantium magnam, assumenda, ut soluta ipsum repellendus doloribus fugiat esse doloremque! Eveniet impedit aut quia hic provident eum.</p>
            </div>
            <img class="nimage" src="https://i.ibb.co/hg4gvbw/Untitled.png" alt="circuit logo">
        </div>
        
        
    </div>
</div>





<%-include("footer")%>