<%- include("./header.ejs"); %>
<div id="info-1-no-padding">
    <div id="sub-info-1-no-padding-container">
        <h2>Our Pricing</h2> 
        <p>
            Pricing can vary, to get an accurate estimation of the cost of the class, simply press the contact button below and fill out the short form, or just give us a call. You can also scroll down to find some deals that we are offering.
        </p>
        <a href="/contact">Contact</a>
    </div>
</div>

<div id="discount-chart">
    <table>
        <th>Discount</th>
        <th>Expirey Date</th>
        <th>Code</th>
        <th>Description</th>


        <tr>
            <td>5% off</td>
            <td>2021/06/01</td>
            <td>L4X8</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error tempore accusamus consectetur mollitia neque labore aperiam commodi aliquid maxime repudiandae? Doloribus excepturi voluptate architecto ducimus dignissimos. Dolore ducimus impedit vero?</td>
        </tr>


        <tr>
            <td>10% off</td>
            <td>2022/06/01</td>
            <td>P3IX</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error tempore accusamus consectetur mollitia neque labore aperiam commodi aliquid maxime repudiandae? Doloribus excepturi voluptate architecto ducimus dignissimos. Dolore ducimus impedit vero?</td>
        </tr>

        <tr>
            <td>2% off + 3 free classes</td>
            <td>2022/06/01</td>
            <td>P3IX</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error tempore accusamus consectetur mollitia neque labore aperiam commodi aliquid maxime repudiandae? Doloribus excepturi voluptate architecto ducimus dignissimos. Dolore ducimus impedit vero?</td>
        </tr>


    </table>
</div>


<%- include("./footer.ejs"); %>